@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/*
* ==================== 
* Custom Project Style
* ====================
*/

#root {
  display: grid;
  grid: auto / auto;
  /* grid-template-areas: Example
  "navbar" 
  "main"
  "footer"
  ; */
  min-height: 100%;
  background-color: var(--clr-bg-2);
}
